/* All styles for your Card Components live here */

.card-container {
  display: flex;
  flex-direction: column;
}

.banner-container {
  height: 200px;
  width: 80%;
  margin: 90px auto 0 auto;
  background-size: contain;
}

.react-img {
  max-width: 100%;
  max-height: 100%;
}

.card-section {
  height: 90%;
  width: 80%;
  margin: 0 auto;
}

.card-content {
  margin: 0;
  padding: 8px;
}

.react-link {
  text-decoration: none;
  color: gray;
}